.Rproj.user
.Rhistory
.RData
.Ruserdata
._*
## remove mac files
.DS_Store
._*
# exclude everything in folders
Archive.zip
*.zip
*.nc
*.RDataTmp*
NUL
examples/*
examples/parameters/*
examples/WheatPlots/*
examples/SCOPE_v2.1/*
examples/outputs/*
examples/codesSE/*
examples/codes/*
examples/SEdata/*
examples/field-dataset/*
examples/SCOPE/*
#examples/LUTs/
examples/Maria/*
examples/Mirco/*
examples/ICOS/*
examples/LUTs/*
examples/DART/*
examples/DEFID2/*
examples/KMZ/*
examples/XF_Mallorca/*
examples/TROPOSIF/*
