.Rproj.user
.Rhistory
.RData
.Ruserdata
._*
# exclude everything in folders
examples/parameters/*
examples/WheatPlots/*
examples/SCOPE_v2.1/*
examples/outputs/*
examples/codesSE/*
examples/codes/*
examples/SEdata/*
examples/field-dataset/*
inst/doc
docs
