.Rproj.user
.Rhistory
.RData
.Ruserdata
._*
# exclude everything in folders
parameters/*
examples/SCOPE_v2.1/*
examples/data/*
examples/data_python/*
examples/outputs/*
examples/plots/*
examples/stats/*
examples/codesSE/*
examples/codes/*